<%= simple_form_for [@hat, @booking] do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <div class="btn btn-danger p-0 gnome-btn mt-4">
    <%= f.submit "Confirm booking", class: "btn btn-danger"  %>
    <img class="gnome-img" src="<%= asset_path('gnome-button.png') %>" alt="Gnome" />
  </div>
<% end %>
