<div class="container py-5">
  <div class="row">
      <div class="col-md-8 col-sm-8 col-12">
        <div class="d-flex p-3">
          <h3>Booking History</h3>
        </div>
        <% @bookings.each do |booking| %>
        <div class="card-booking">
          <%= cl_image_tag booking.hat.photo.key, class: "img-fluid"%>
          <div class="card-booking-infos flex-grow-1 p-15">
            <h3><%= booking.hat.style %></h3>
            <p>Booking ID: <%= booking.id %></p>
            <p>Rental Start Date: <%= booking.start_date %></p>
            <p>Rental End Date: <%= booking.end_date %></p>
          </div>
          <%= link_to 'Add a review', new_booking_review_path(booking), remote: true, class: "btn btn-primary review-btn" %>
        </div>
        <% end %>
      </div>
      <div class="col-md-4 col-sm-4 d-none d-sm-block">
        <div class="position-fixed d-flex bottom-0 climbing-gnome">
          <img class="img-fluid" src="<%= asset_path('climbing-gnome.png') %>">
        </div>
      </div>
    </div>
  </div>
</div>
