<%= simple_form_for @hat do |f| %>
  <%= f.input :style, placeholder: 'Pointy' %>
  <div class="d-flex justify-content-between gap-3">
    <div class="flex-fill">
      <%= f.input :color, placeholder: 'Red' %>
    </div>
    <div class="flex-fill">
      <%= f.input :price, placeholder: '100' %>
    </div>
  </div>
  <%= f.input :description %>
  <%= f.input :photo, as: :file%>
 <div class="d-flex justify-content-between">
    <%= f.submit "Submit Hat", class: "btn btn-danger"%>
    <%= link_to 'Return to all listings', hats_path %>
  </div>

<% end %>
