<%# <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('<%= asset_path('banner.jpeg')');"> %>
  <%# <div class="container">
    <h1>Gnome Hats</h1>
    <p>The gnome reveals his <strong>individuality</strong> as much with his hat as with the shape of his nose.</p>
  </div> %>
<%# </div> %>


<div class="container py-5">
  <div class="cards">
    <% @hats.each do |hat| %>
      <%= link_to hat_path(hat), class: "text-decoration-none" do %>
        <div class="card-product">
          <%= cl_image_tag hat.photo.key, class: "img-fluid"%>
          <div class="card-product-info">
            <div>
              <p><%= hat.style %></p>
            </div>
            <p class="card-product-pricing"><%= "£#{hat.price}" %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
