<%# <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('<%= asset_path('banner.jpeg')');"> %>
  <%# <div class="container">
    <h1>Gnome Hats</h1>
    <p>The gnome reveals his <strong>individuality</strong> as much with his hat as with the shape of his nose.</p>
  </div> %>
<%# </div> %>


<div class="container py-5">
  <div class="grid-container">
    <% @hats.each do |hat| %>
      <div class="<%= Hat.random_card_class %>">
        <%= link_to hat_path(hat), class: "text-decoration-none card-product" do %>
          <%= cl_image_tag hat.photo.key%>
          <div class="card-product-info">
            <div>
              <p><%= hat.style %></p>
            </div>
            <p class="card-product-pricing"><%= "£#{hat.price}" %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
